# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 虚拟环境
venv/
.venv/
env/
my_env/


# PyInstaller 构建产物
build/
dist/
*.spec


# 日志
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
Thumbs.db
desktop.ini
.DS_Store

# 图标
favicon.ico

# 配置（）
collector.id

# 其他
nuitka-crash-report.xml